.backgroundContainer {
    background-color: #050505;
    display: flex;
}

.welcomeLogo {
    margin-left: 150px;
    margin-top: 40px;
}

.perksContainer {
    max-width: 444px;
    margin-top: 120px;
    margin-left: 104px;
}

.welcomeHeadline {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    font-family: Poppins;
}

.welcomeText {
    color: #B6B6B6;
    font-weight: 400;
    font-size: 22px;
    margin-top: 16px;
    line-height: 32px;
}

.signInActivated {
    background-color: #E3FFA8;
    margin-top: 24px;
    border-radius: 12px;
    width: 192px;
    padding: 8px;
    font-size: 14px;
    font-family: Poppins;
}

.signUpInactive {
    background-color: #050505;
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    margin-left: 16px;
}

.welcomePagePerksList {
    margin-top: 80px;
}

.perks {
    color: #FFFFFF;
    margin-bottom: 22px;
}

.perks::before {
    content: '\2022';
    color: #E3FFA8;
    margin-right: 5px;
}